<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="system_traction_ros2_control" params="update_rate">

    <ros2_control name="system_traction" type="actuator">
        <hardware>
            <plugin>caddy_ai2_ros2_control_system_traction_driver/SystemTractionHardwareInterface</plugin>
            <param name="can_interface">can_trac_drv</param>
            <param name="update_rate">${update_rate}</param>
        </hardware>
        <joint name="system_traction_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/> <!-- speed -->     
            <state_interface name="motor_rpm"/> <!-- motor_rpm -->
            <state_interface name="current_rms"/> <!-- current rms -->
            <state_interface name="battery_current"/> <!-- battery_current -->
            <state_interface name="battery_voltage"/> <!-- keyswitch_voltage -->
            <state_interface name="interlock"/> <!-- interlock_ -->
            <state_interface name="on_fault"/> <!-- on_fault_ -->
            <state_interface name="mode_auto"/> <!-- mode_auto_ -->
            <state_interface name="mode_manual"/> <!-- mode_manual_ -->
            <state_interface name="fault_code"/> <!-- mode_torque_ --> 
        </joint>
    </ros2_control>

  </xacro:macro>

</robot>